// Specific CSS for your home-page
body {
  font-family: cursive;
}

.bg-color {
  background-color: #212121;
  height: 100vh;
  width: 100%;
}

.my-infos {
  display: flex;
  justify-content: center;
}

.photo {
  height: 150px;
  width: 150px;
  text-align: center;
  vertical-align: middle;
  color: white;
  line-height: 150px;
}

.details {
  margin-left: 25px;
}

.name {
  font-size: 28px;
  font-family: 'Dancing Script', cursive;
  color: teal;
}

.city {
  color: teal;
  font-size: 12px;
}

.profession {
  color: teal;
  font-size: 16px;
}

.void {
  height: 200px;
}

.description {
  margin: 10px;
  color: teal;

}

.hobbies {
  color: teal;
}