<!-- To do list, certificates, animation, hobbies icon, dynamic background, education, plans, pepople that i admire -->

<div class="bg-color">
  <div class="container">
    <div class="my-infos">
      <span class="details">
        <div class="photo">
          <img src="" alt="">
        </div>
        <div class="name">
          Rafael Arimura Osawa
        </div>
        <div class="city">
          Kaunas - Lithuania
        </div>
        <div class="profession">
          Full stack developer | Ruby on Rails | React.js | Currently student master in informatics at Kaunas Tecnology University
        </div>
      </span>
    </div>
    <div class="void"></div>
    <div class="description">
      <h2> Bio: </h2>
      <p> I graduated in Electrical Engineer in 2016 and decide to change my career. This career change was driven by my curiosity in informatics. I decided to do a Web Development bootcamp at Le Wagon São Paulo. The knowledge I gained during these 9 weeks was immeasurable.</p>
    </div>
    <div class="hobbies">
      My interests are: Games, Table tennis, Astronomy, Listen to music, Learn something new.
    </div>
  </div>
</div>