<div class="bg-color">
  <div class="container">
    <div class="my-infos">
      <span class="details">
        <div class="photo">
          my photo
        </div>
        <div class="name">
          Rafael Arimura Osawa
        </div>
        <div class="city">
          São Paulo - Brazil
        </div>
        <div class="profession">
          Full stack developer | Ruby on Rails | React.js
        </div>
      </span>
    </div>
    <div class="void"></div>
    <div class="description">
      <h2> Bio: </h2>
      <p> I graduated in Electrical Engineer in 2016 and decide to change my career. This career change was driven by </p>
    </div>
  </div>
</div>