<div class="bg-color">
  <div class="container">
    <div class="my-infos">
      <span class="details">
        <div class="photo">
          <img src="" alt="">
        </div>
        <div class="name">
          Rafael Arimura Osawa
        </div>
        <div class="city">
          São Paulo - Brazil
        </div>
        <div class="profession">
          Full stack developer | Ruby on Rails | React.js
        </div>
      </span>
    </div>
    <div class="void"></div>
    <div class="description">
      <h2> Bio: </h2>
      <p> I graduated in Electrical Engineer in 2016 and decide to change my career. This career change was driven by my curiosity in informatics. I decided to do a Web Development bootcamp at Le Wagon São Paulo. The knowledge I gained during these 9 weeks was immeasurable, and currently I will course Master's Degree in Informatics at Kaunas University of Technology in Lithuania.</p>
    </div>
    <div class="hobbies">
      My interests are:
    </div>
  </div>
</div>